<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>image recognition traffic</title>
</head>
<body>
    <strong>
        <p style="font-size:25px">Traffic : demo of image recognition task using Django and tfserving.</p>
    </strong>
    
    <br />
    <strong>    
       <p style="font-size:20px"><br />search_form visit count: <span style="font-size:20px;color:red">{{ search_form_visit_count }}</span></p>
       <p style="font-size:20px"><br />search_result visit count: <span style="font-size:20px;color:red">{{ search_result_visit_count }}</span></p>
       <br />detail:<br /> {{ search_detail_info }}
    </strong>
</body>
</html>
